/*shield*/
.blackborder {
    border: 10px solid black;
    margin: 0px;
    margin-top: 5px;


    border-bottom-left-radius: 100px 50px;
    border-bottom-right-radius: 100px 50px;


    background: black;
}


.blueborder {
     border-color: blue;
}


.yellowborder {
     border-color: #EBBF11;
}



.redborder {
     border-color: red;
}


.hitblock {
    background:red;
    font-size:30px;

    color: white;
    padding:5px;
    position: absolute;

    left: 0;
    top:0;

    border-radius: 0%;

    margin-top: 30px;
    margin-left: 15px;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;

    opacity: 0;
}


.hitblock_for_playerbord {
    background:red;
    font-size:30px;

    color: white;
    padding:5px;
    position: absolute;

    left: 0;
    top:0;

    border-radius: 0%;

    margin-top: 80px;
    margin-left: 100px;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;

     opacity: 0;
}



.show {
    opacity: 100%;
}

