



.player_bord {
    width: 600px;

    display: flex;
    justify-content: center;


    padding: 10px;
    margin: 10px;
}
.player_bord p {
    margin-left: 10px;
}


.player_bord button {

    margin-left: 10px;
}

.block_centre {
    display: flex;
    justify-content: center;
    align-items: center;

}


.card_list {
    display: flex;
    justify-content: center;
    height: 160px;
    overflow:auto;
}

.card {
    position: relative;
    width: 70px;
    height: 100px;
    margin: 10px;

    overflow:hidden;

}

.card img {
    width: 70px;
    height: 100px;
}

.hp {
    background:red;

    padding:5px;
    position: absolute;

    bottom: 0;
    left: 0;
}

.power {
    background: #EBBF11;

    padding:5px;
    position: absolute;

    bottom: 0;
    right: 0;
}

.mana {
    background: blue;
    color: white;

    padding:5px;
    position: absolute;

    top: 0;
    left: 0;
}

.somespace {
    width: 100%;
    height: 40px;
    background: #EBBF11;
}

.redborder {
     border: 5px solid red;
     margin: 5px;
}
.greenborder {
     border: 5px solid green;
     margin: 5px;
}
.blueborder {
     border: 5px solid blue;
     margin: 5px;
}
.blackborder {
     border-radius:50px;
}

.yellowback {
    background: #EBBF11;
}

.greenback {
    background: green;
}

.redback {
    background: red;
    color: white;
    padding:10px;
}

.blueback {
    background: blue;
    color:white;
    padding:10px;
}

.timer {
    display: inline-block;
    position: fixed;
    background: #EBBF11;
    padding:10px;
}