body {
    background: #EBBF11;
    display: flex;
    justify-content: center;
    
}

.table {
    width: 90%;
    padding: 30px;
    background: #2b8d24;
}



.block_centre {
    display: flex;
    align-items: center;

}



.card {
    position: relative;
    min-width: 100px;
    width: 100px;
    height: 145px;
   

    overflow:hidden;

    margin: 5px;
    border: 5px solid #560319;
}

.card img {
    width: 100px;
    height: 145px;
}

.hp {
    background:red;

    color: white;
    padding:5px;
    position: absolute;

    top: 0;
    right: 0;
    border-radius: 100%;

    margin-top: 100px;
    margin-right: 5px;

    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 20px;
    height: 20px;
}

.power {
    background: #EBBF11;

    color: white;
    padding:5px;
    position: absolute;

    top: 0;
    left: 0;
    border-radius: 100%;

    margin-top: 100px;
    margin-left: 5px;


    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 20px;
    height: 20px;
}

.mana {
    background: blue;
    color: white;

    padding:5px;
    position: absolute;

    top: 0;
    left: 0;
    border-radius: 100%;
    margin: 5px;

    border: 1px solid black;
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 20px;
    height: 20px;

}


/*shield*/
.blackborder {
    border: 10px solid black;
    margin: 0px;


    border-bottom-left-radius: 1000px 700px;
    border-bottom-right-radius: 1000px 700px;

    height: 155px;
    background: black;
}






.strip {
    width: 100%;
    height: 0px;
    border: 0px;
    border-top: 5px solid black;
    position: relative;
}


.strip #reset {
    position: absolute;
    left:0;
    margin-top: -30px;
    margin-left: 180px;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #EBBF11;
}
.strip #usecard {
    position: absolute;
    left:0;
    margin-top: -30px;
    margin-left: 30px;
    font-size: 20px;
    padding: 10px;
        padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #EBBF11;
}
.strip #timer {
    position: absolute;
    right:0;
    margin-top: -30px;
    margin-right: 30px;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: blue;
    color: white;
    border: 2px solid white;
}
.strip #next {
    position: absolute;
    right:0;
    margin-top: -30px;
    margin-right: 140px;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #EBBF11;
}
.strip #zxc {
    position: absolute;
    right:0;
    margin-top: -30px;
    margin-right: 250px;
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 30px;
    background: #EBBF11;
}







.player_bord {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2fr, 1fr);


    background-color: black;
    min-width: 400px;
    height: 200px;
    text-align: center;

    padding: 10px;
    margin: 10px;

}



.box1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-image: url("cards/kastl.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.box2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #EBBF11;


    padding-top: 15px;
    height: 35px;
    width: 120px;
   
}

.box3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;


    padding-top: 15px;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    background: red;
    color:white;
}

.box4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    padding-top: 15px;
    height: 35px;
    width: 120px;
    border-radius: 30px;
    background: blue;
    color:white;
}


.menublock {
    background: #EBBF11;
}


.card_on_table_list {
    display: flex;
    height: 180px;

    justify-content: center;

    padding: 20px;
/*    background: red;*/
}

.card_list {
    display: flex;
    height: 180px;

    overflow-x: auto;
    overflow-y: hidden;

    background-image: url("cards/table.jpg");
    margin-left: 30px;
    margin-right: 30px;
    padding: 20px;
    flex-grow: 1;
}



.redborder {
     border: 8px solid red;
     margin: 2px;
}
.greenborder {
     border: 8px solid green;
     margin: 2px;
}
.blueborder {
     border: 8px solid blue;
     margin: 2px;
     
}
.yellowborder {
     border: 8px solid #EBBF11;
     margin: 2px;
     
}