<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
<!--    <link rel="stylesheet" href="../static/game_table.css">-->
    <link rel="stylesheet" href="/game_table.css">


    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@stomp/stompjs@7.0.0/bundles/stomp.umd.min.js"></script>
    <script src="/game_table.js"></script>


</head>
    <body>
        <div class="timer yellowback">23s</div>

        <div class="block_centre">
            <div id="enemy" class="player_bord yellowback">
                    fdhfdghfgdh
            </div>
        </div>

        <div class="card_list" id="eh">
            <div class="card redborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
        </div>

        <div class="somespace"></div>

        <div class="card_list" id="et">
            <div class="card card_enemy">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card card_enemy">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card card_enemy">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
        </div>
        <div class="card_list" id="yt">
            <div class="card card_in_table blueborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card card_in_table redborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card card_in_table blueborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card card_in_table redborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card blueborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card redborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card blueborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card redborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
        </div>

        <div class="somespace"></div>

        <div class="card_list" id="yh">
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
            <div class="card greenborder">
                <img src="test.jpg">
                <p class="hp">13</p>
                <p class="power">7</p>
                <p class="mana">8</p>
            </div>
        </div>


        <div class="block_centre">
            <div id="you" class="player_bord greenback">
<!--                <p id="you"> You 100 hp 10 mana </p>-->
                <button type="button" id="use_card">use card</button>
                <button type="button" id="reset">reset</button>
                <button type="button" id="next">next</button>
            </div>
        </div>

    </body>
</html>
